@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.card {
  display: flex;
  align-items: center;
}

.cardDescription {
  flex: 1;
  display: flex;
  font-family: 'Orbitron', sans-serif;
  align-items: center;
  gap: 60px;
  padding: 10px;
  cursor: pointer;
}

.cardCheckbox {
  margin: 0 20px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.card:hover {
  background-color: rgb(201, 201, 201);
}

.name {
  flex: 1;
}

.attributes {
  border-collapse: collapse;
}

table {
  border: 2px solid rgb(140 140 140);
}

th,
td {
  padding: 5px 10px;
  border: 1px solid rgb(160 160 160);
}

td {
  text-align: center;
}
