.wrapper {
}

.cardsContainer {
  max-width: 900px;
  margin: 0 auto;
}

.spinnerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
