.selectedItemsCounter {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: 'Orbitron', sans-serif;
  color: var(--text-color-secondary);
  margin-bottom: 20px;
}

.selectedItemsBtn,
.downloadBtn {
  color: var(--text-color-secondary);
  border-color: var(--border-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.selectedItemsBtn {
  background-color: red;
}

.downloadBtn {
  background-color: var(--background-color);
}
