.selectedItemsCounter {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: 'Orbitron', sans-serif;
  color: var(--text-color-secondary);
  margin-bottom: 20px;
}

.selectedItemsBtn {
  color: var(--text-color-secondary);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: red;
}
