.card {
  display: flex;
  align-items: center;
}

.cardDescription {
  flex: 1;
  display: flex;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  padding: 10px;
  gap: 60px;
  color: var(--text-color);
  cursor: pointer;
}

.cardCheckbox {
  margin: 0 20px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.card:hover {
  background-color: var(--card-secondary);
}

.name {
  flex: 1;
}

.attributes {
  border: 2px solid rgb(140 140 140);
  border-collapse: collapse;
}

.cardAttribute {
  background-color: var(--attribute-color);
}

.cardAttribute,
.cardDetail {
  padding: 5px 10px;
  border: 1px solid rgb(160 160 160);
}

.cardDetail {
  text-align: center;
}
